@media only screen and (max-width:576px){
	form{
		width:90%;
		padding:16px;
		border-radius:10px;
		margin:auto;	
	}

	ul{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 0.82em;
        padding: 0.5em
    }
}

@media only screen and (min-width:576px){
	form{
		width:80%;
		padding:16px;
		border-radius:10px;
		margin:auto;	
	}

	ul{
        font-size: 0.80em;
    }
}

@media only screen and (min-width:768px){
	form{
		width:70%;
		padding:16px;
		border-radius:10px;
		margin:auto;	
	}
	
	ul{
        font-size: 0.98em;
    }
}